.relogioNumero {
    background-color: #986DFF;
    box-shadow: 2px 2px 4px #2B2B2B inset;
    height: 2.75rem;
    width: 2.35rem;
    padding: 8px 4px;
    border-radius: 10px;
  
    @media screen and (min-width:1280px) {
      height: 6.9rem;
      width: 5.7rem;
    }
  }
  
  .relogioDivisao {
    height: 3.2rem;
  
    @media screen and (min-width:1280px) {
      height: 7.6rem;
    }
  }